.logged_out_apla_relative {
	position: relative;
}

.logged_out_apla {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 295px;
	height: 372px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--biay, #fff);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.05);
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	color: $violet;
	z-index: 2000;
	.name {
		margin: 30px 0 0 25px;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
	}

	#profile {
		display: flex;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 14px;
		color: $violet;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
		cursor: pointer;
	}
	#orders {
		display: flex;
		margin-bottom: 14px;
		color: $violet;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
		cursor: pointer;
	}
	#offers {
		display: flex;
		margin-bottom: 14px;
		color: $violet;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
		cursor: pointer;
	}
	#download {
		display: flex;
		margin-bottom: 14px;
		color: $violet;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
		cursor: pointer;
	}
	#api {
		display: flex;
		margin-bottom: 14px;
		color: $violet;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
		cursor: pointer;
	}
	#shop {
		display: flex;
		margin-bottom: 14px;
		color: $violet;
		margin-left: 0;
		margin-right: 0;
		font-size: 14px;
		cursor: pointer;
	}
	.line {
		width: 255px;
		height: 1px;
		background-color: black;
	}
	.logout_button {
		width: 255px;
		height: 35px;
		flex-shrink: 0;
		border: 1px solid var(--Fiolet---kolor, #34224f);
		background: var(--biay, #fff);
		margin-top: 14px;
		cursor: pointer;
	}
	.logout_button:hover {
		background: $violet;
		color: white;
	}
	.profile_icon {
		width: 23px;
		height: 23px;
		margin-right: 12px;
	}
	.profile_text {
		margin: 0;
	}
}
.logged_out_apla.active {
	display: flex;
}
