.logged_out_apla_relative {
	position: relative;
}

.logged_out_apla {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 295px;
	height: 285px;
	flex-shrink: 0;
	border-radius: 10px;
	background: var(--biay, #fff);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
	color: $violet;
	z-index: 2000;
	.name {
		margin: 30px 0 20px 5px;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
	}
	.apla_email {
		width: 255px;
		height: 40px;
		flex-shrink: 0;
		background-image: url(/img/icons/profile/profilePanel/mail.png);
		background-repeat: no-repeat;
		text-indent: 20px;
		background-position-y: center;
		background-position-x: 10px;
		border: 1px solid var(--szary-ciemny, #8c8c8c);
		margin-bottom: 15px;
        padding-left: 10px;
	}
	.apla_email::placeholder {
		padding-left: 10px;
		color: var(--Fiolet---kolor, #34224f);
		font-family: Roboto;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.apla_pass {
		width: 255px;
		height: 40px;
		flex-shrink: 0;
		background-image: url(/img/icons/profile/profilePanel/pass.png);
		background-repeat: no-repeat;
		text-indent: 20px;
		background-position-y: center;
		background-position-x: 13px;
		border: 1px solid var(--szary-ciemny, #8c8c8c);
        padding-left: 10px;
	}
	.apla_pass::placeholder {
		padding-left: 10px;
		color: var(--Fiolet---kolor, #34224f);
		font-family: Roboto;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.input_wrapper {
		position: relative;
		#see {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 15px;
		}
	}

	#logout_button {
		color: $violet;
		font-size: 16px;
		width: 255px;
		height: 35px;
		flex-shrink: 0;
		border: 1px solid var(--Fiolet---kolor, #34224f);

		background: $violet;
		color: white;
		margin-bottom: 15px;
		margin-top: 15px;
		cursor: pointer;
	}
	#logout_button:hover {
		background: var(--biay, #fff);
		color: $violet;
	}
	#forgot {
		margin: 0;
		color: $violet;
		font-size: 12px;
		margin-bottom: 2px;
	}
	#register {
		margin: 0;
		color: $violet;
		font-size: 12px;
	}
}
.logged_out_apla.active {
	display: flex;
}
