.profileContainer {
	.data {
		.data_wrapper {
			width: 100%;
			height: 100%;
			.data_wrapper_orders {
				display: flex;
				flex-direction: column;
				.data_inner_title {
					width: 213px;
					color: var(--Fiolet---kolor, #34224f);
					font-size: 18px;
					font-weight: 700;
					line-height: 140%;
					margin: 25px 0 15px 40px;
				}
				.data_item {
					width: 784px;
					height: 140px;
					border-radius: 10px;
					border: 1px solid #dfdfdf;
					background: var(--biay, #fff);
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					margin: 0 auto;
					.data_image {
						width: 128px;
						height: 128px;
						margin: 6px 0 0 25px;
					}
					.data_right {
						width: 100%;
						display: flex;
						justify-content: space-between;
						margin-left: 40px;
						.data_info {
							display: flex;
							flex-direction: column;
							.top {
								font-size: 16px;
								font-weight: 700;
								line-height: 140%;
								margin-top: 15px;
								margin-bottom: 10px;
							}
							.mid {
								font-size: 14px;
								font-weight: 400;
								line-height: 140%;
								margin-bottom: 8px;
							}
							.bot {
								font-size: 14px;
								font-weight: 400;
								line-height: 140%;
							}
						}
						.data_status {
							display: flex;
							flex-direction: column;
							.data_status_wrapper {
								display: flex;
								margin-top: 45px;
								.status_left {
									font-size: 16px;
									font-weight: 700;
									line-height: 140%;
								}
								.status_right {
									color: var(--roz, #e6007e);
									font-size: 16px;
									font-weight: 700;
									line-height: 140%;
									margin-left: 10px;
								}
								.status_right.status_sent {
									color: $green;
									font-size: 16px;
									font-weight: 700;
									line-height: 140%;
									margin-left: 10px;
								}
							}
							.details {
								width: 255px;
								height: 35px;
								border-radius: 10px;
								border: 1px solid var(--Fiolet---kolor, #34224f);
								background: var(--biay, #fff);
								margin-right: 20px;
								margin-top: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1140px) {
	.profileContainer {
		.data {
			.data_wrapper {
				.data_wrapper_orders {
					.data_inner_title {
						font-size: 16px;
						margin: 25px 0 15px 30px;
					}
					.data_item {
						min-width: 92%;
						width: auto;
						height: auto;
						align-items: center;
						justify-content: space-evenly;
						.data_right {
							width: auto;
							margin-left: 30px;
							flex-direction: column;
							.data_info {
								.top {
									font-size: 15px;
									max-width: 95%;
								}
								.mid {
									font-size: 13px;
								}
								.bot {
									font-size: 13px;
								}
							}
							.data_status {
								.data_status_wrapper {
									margin-top: 15px;
									.status_left {
										font-size: 15px;
									}
									.status_right {
										font-size: 15px;
									}
									.status_right.status_sent {
										color: $green;
										font-size: 15px;
									}
								}
								.details {
									margin-top: 15px;
									margin-bottom: 15px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.profileContainer {
		.data {
			.data_wrapper {
				.data_wrapper_orders {
					.data_item {
						flex-direction: column;
					}
				}
			}
		}
	}
}
