.profileContainer {
	.data {
		.data_wrapper_video {
			display: flex;
			flex-wrap: wrap;
			padding-left: 30px;
			.video_item {
				width: 248px;
				height: 270px;
				flex-shrink: 0;
				border-radius: 10px;
				border: 1px solid #dfdfdf;
				background: var(--biay, #fff);
				margin: 23px 10px 0 10px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.video_item_data {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 248px;
					height: 217px;
					padding-top: 3px;
					.video_item_image {
						max-height: 194px;
					}
				}
				.line {
					width: 100%;
					position: absolute;
					bottom: 49px;
					height: 1px;
					background: #d9d9d9;
				}
				.bottom_bar {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					text-transform: uppercase;
					align-items: center;
					margin: 0 25px;
					.title {
						font-size: 12px;
						display: flex;
						width: 141px;
						height: 49px;
						flex-direction: column;
						justify-content: center;
						flex-shrink: 0;
						text-transform: uppercase;
					}
					.bar_right_wrapper {
						display: flex;
						flex-direction: row;
						align-items: center;
						height: 17px;
						.download {
							cursor: pointer;
							width: 24px;
							height: 17px;
						}
					}
				}
			}
		}
	}
}
