.profileContainer .data {
  margin-left: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.profileContainer .data .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 65px;
  border-radius: 10px;
  margin-bottom: 25px;
  background: var(--gradient-gowny-kolor, linear-gradient(90deg, #34224f 0%, #ea167f 100%));
}
.profileContainer .data .welcome .welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 279px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 160%;
  margin: 2px 0 3px 40px;
}
.profileContainer .data .data_title {
  height: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e3e3e3;
  border: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}
.profileContainer .data .data_title .title {
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
}
.profileContainer .data .data_title .icon {
  width: 25px;
  height: 25px;
  background-size: 100% auto;
  background-image: url("/img/icons/profile/payment.png");
  margin-left: 40px;
  margin-right: 10px;
}
.profileContainer .data .data_title .neccessary {
  position: absolute;
  right: 80px;
  font-size: 16px;
  font-weight: 400;
  color: #e6007e;
}
.profileContainer .data .data_title.data_title--company {
  margin-top: 33px;
  border-radius: 0;
}
.profileContainer .data .data_wrapper {
  width: 100%;
  color: #34224f;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #f7f7f7;
  padding-bottom: 33px;
}
.profileContainer .data .data_wrapper .data_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
}
.profileContainer .data .data_wrapper .data_item .subtitle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 23px;
  margin-bottom: 13px;
}
.profileContainer .data .data_wrapper .data_item .input {
  height: 42px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: var(--biay, #fff);
  font-size: 16px;
  font-weight: 400;
  padding-left: 25px;
}
.profileContainer .data .data_wrapper .data_item .input:disabled {
  background: #e3e3e3;
}
.profileContainer .data .data_wrapper .data_item .input.logo_wrapper {
  height: 120px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}
.profileContainer .data .data_wrapper .data_item .data_item--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .data .data_wrapper .data_item .data_item--wrapper .info {
  color: #8c8c8c;
  font-size: 10px;
  font-weight: 400;
  margin-left: 30px;
  max-width: 60%;
  margin-top: 10px;
}
.profileContainer .data .data_wrapper .data_item .logo_wrapper--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  height: 27px;
  margin-top: 30px;
}
.profileContainer .data .data_wrapper .data_item .logo_wrapper--inner .search {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: var(--szary-jasny, #eaeaea);
  padding: 0 20px;
}
.profileContainer .data .data_wrapper .data_item .logo_wrapper--inner .additional {
  margin-left: 10px;
}
.profileContainer .data .data_wrapper .data_item .save {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid var(--Fiolet---kolor, #34224f);
  background: var(--Fiolet---kolor, #34224f);
  margin-top: 60px;
}
.profileContainer .data .data_wrapper .data_wrapper--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 40px 0 40px;
}

@media (max-width: 1140px) {
  .profileContainer .data .welcome .welcomeText {
    font-size: 24px;
    margin-left: 30px;
  }
  .profileContainer .data .data_title {
    height: 57px;
  }
  .profileContainer .data .data_title .title {
    font-size: 16px;
  }
  .profileContainer .data .data_title .icon {
    width: 22px;
    height: 22px;
    margin-left: 30px;
    margin-right: 5px;
  }
  .profileContainer .data .data_title .neccessary {
    font-size: 14px;
    margin-left: 20%;
  }
  .profileContainer .data .data_wrapper .data_item .subtitle {
    font-size: 14px;
  }
  .profileContainer .data .data_wrapper .data_item .input {
    height: 40px;
    font-size: 14px;
    padding-left: 20px;
  }
  .profileContainer .data .data_wrapper .data_item .input.logo_wrapper {
    height: 100px;
  }
  .profileContainer .data .data_wrapper .data_item .data_item--wrapper .info {
    font-size: 9px;
  }
  .profileContainer .data .data_wrapper .data_item .logo_wrapper--inner {
    font-size: 14px;
    height: 25px;
    margin-top: 20px;
  }
  .profileContainer .data .data_wrapper .data_item .save {
    height: 50px;
    font-size: 14px;
  }
  .profileContainer .data .data_wrapper .data_wrapper--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5px 30px 0 30px;
  }
}
@media (max-width: 768px) {
  .profileContainer .data {
    margin-left: 0px;
  }
  .profileContainer .data .welcome {
    width: auto;
    height: 65px;
    margin-left: 120px;
  }
  .profileContainer .data .welcome .welcomeText {
    font-size: 22px;
    margin: 2px auto 3px auto;
  }
  .profileContainer .data .welcome .welcomeImage {
    display: none;
  }
  .profileContainer .data .data_wrapper .data_wrapper--inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5px 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .profileContainer .data .data_wrapper .data_item {
    width: 100%;
  }
  .profileContainer .data .data_title .neccessary {
    position: absolute;
    right: 10px;
    max-width: 40%;
  }
}
.profileContainer .data .data_wrapper {
  width: 100%;
  height: 100%;
}
.profileContainer .data .data_wrapper .data_wrapper--newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: var(--biay, #fff);
  margin: 23px 40px 0 40px;
}
.profileContainer .data .data_wrapper .data_wrapper--newsletter .data_item {
  width: 100%;
  margin-left: 35px;
  padding-bottom: 25px;
}
.profileContainer .data .data_wrapper .data_wrapper--newsletter .data_item .input {
  width: 100%;
  height: 50px;
}
.profileContainer .data .data_wrapper .data_wrapper--newsletter .newsletter-sign {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--Fiolet---kolor, #34224f);
  background: var(--biay, #fff);
  margin: 25px;
}

@media (max-width: 1140px) {
  .profileContainer .data .data_wrapper {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .profileContainer .data .data_wrapper .data_wrapper--newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .profileContainer .data .data_wrapper .data_wrapper--newsletter .data_item {
    width: 80%;
    margin: 0;
  }
  .profileContainer .data .data_wrapper .data_wrapper--newsletter .data_item .input {
    width: 100%;
  }
}
.profileContainer .data .data_wrapper .status_wrapper {
  position: relative;
  width: 90%;
  height: 270px;
  margin: 25px auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profileContainer .data .data_wrapper .status_wrapper .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 100%;
}
.profileContainer .data .data_wrapper .status_wrapper .status .left {
  margin: 25px 0 0 75px;
}
.profileContainer .data .data_wrapper .status_wrapper .status .left .congrats {
  color: #e6007e;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.profileContainer .data .data_wrapper .status_wrapper .status .left .status_info {
  font-size: 16px;
  font-weight: 400;
}
.profileContainer .data .data_wrapper .status_wrapper .status .mid {
  margin-top: 28px;
}
.profileContainer .data .data_wrapper .status_wrapper .status .mid .trophyWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .data .data_wrapper .status_wrapper .status .mid .starWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}
.profileContainer .data .data_wrapper .status_wrapper .status .right .status_more--info {
  font-size: 12px;
  font-weight: 400;
  margin: 55px 65px 0 0;
}
.profileContainer .data .data_wrapper .status_wrapper .status .right .trophy_next {
  width: 85px;
  height: 107px;
  margin-left: 90px;
  margin-top: 12px;
}
.profileContainer .data .data_wrapper .status_wrapper .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: var(--brown-gradient, linear-gradient(90deg, #d09266 0.03%, #efbc87 26.06%, #d09266 48.43%, #f6d7b9 72.37%, #d09266 96.31%));
}
.profileContainer .data .data_wrapper .status_wrapper .bar .status_current {
  color: white;
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  margin-left: 9.5%;
}
.profileContainer .data .data_wrapper .status_wrapper .bar .status_next {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  margin-right: 18%;
}
.profileContainer .data .data_wrapper .adv_wrapper {
  width: 90%;
  border-radius: 10px;
  margin: 25px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_left {
  width: 55%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  padding-top: 25px;
  padding-bottom: 25px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item {
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 45px 10px 40px;
  min-height: 55px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .adv_item_text {
  font-size: 14px;
  font-weight: 400;
  width: 65%;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .guarantee_wrap {
  font-size: 14px;
  font-weight: 400;
  width: 65%;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .adv_item_number {
  color: #54bf00;
  font-size: 16px;
  font-weight: 500;
  width: 18%;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .small {
  font-size: 8px;
  font-weight: 400;
  color: #8c8c8c;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 25px 25px 25px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_top {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_mid .adv_trophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_mid .adv_trophy .trophy {
  width: 53px;
  height: 68px;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_mid .adv_trophy .text {
  font-size: 10.275px;
  font-weight: 500;
  text-transform: uppercase;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_bottom {
  width: 60%;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_bottom .download {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid var(--Fiolet---kolor, #34224f);
  background: white;
  padding: 5px 25px;
}
.profileContainer .data .data_wrapper.advantages {
  min-height: auto;
}

@media (max-width: 1140px) {
  .profileContainer .data .data_wrapper .status_wrapper .status .left {
    margin: 25px 0 0 5%;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .left .congrats {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .left .status_info {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .right .status_more--info {
    font-size: 11px;
    margin: 55px 20px 0 0;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .right .trophy_next {
    margin-left: 20%;
  }
  .profileContainer .data .data_wrapper .status_wrapper .bar .status_current {
    font-size: 40px;
    margin-left: 5%;
  }
  .profileContainer .data .data_wrapper .status_wrapper .bar .status_next {
    font-size: 24px;
    margin-right: 20%;
  }
  .profileContainer .data .data_wrapper .adv_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_left {
    width: 100%;
    margin-bottom: 25px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item {
    margin: 0px 30px 10px 30px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .adv_item_text {
    font-size: 13px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .adv_item_number {
    font-size: 14px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_left .adv_item .small {
    font-size: 7px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_right {
    width: 100%;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_top {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_mid .adv_trophy .text {
    font-size: 10px;
  }
  .profileContainer .data .data_wrapper .adv_wrapper .advantages_right .advantages_bottom .download {
    font-size: 15px;
  }
}
@media (max-width: 505px) {
  .profileContainer .data .data_wrapper .status_wrapper .status .left {
    margin: 25px 0 0 5%;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .left .congrats {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .left .status_info {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .mid {
    margin-right: 20%;
  }
  .profileContainer .data .data_wrapper .status_wrapper .status .right {
    display: none;
  }
  .profileContainer .data .data_wrapper .status_wrapper .bar .status_current {
    font-size: 40px;
    margin-left: 5%;
  }
  .profileContainer .data .data_wrapper .status_wrapper .bar .status_next {
    display: none;
  }
}
.profileContainer .data .data_wrapper {
  width: 100%;
  height: 100%;
}
.profileContainer .data .data_wrapper .data_wrapper_orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_inner_title {
  width: 213px;
  color: var(--Fiolet---kolor, #34224f);
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  margin: 25px 0 15px 40px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item {
  width: 784px;
  height: 140px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  background: var(--biay, #fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_image {
  width: 128px;
  height: 128px;
  margin: 6px 0 0 25px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info .top {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info .mid {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 8px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info .bot {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper .status_left {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper .status_right {
  color: var(--roz, #e6007e);
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-left: 10px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper .status_right.status_sent {
  color: #54bf00;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-left: 10px;
}
.profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .details {
  width: 255px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid var(--Fiolet---kolor, #34224f);
  background: var(--biay, #fff);
  margin-right: 20px;
  margin-top: 20px;
}

@media (max-width: 1140px) {
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_inner_title {
    font-size: 16px;
    margin: 25px 0 15px 30px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item {
    min-width: 92%;
    width: auto;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right {
    width: auto;
    margin-left: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info .top {
    font-size: 15px;
    max-width: 95%;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info .mid {
    font-size: 13px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_info .bot {
    font-size: 13px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper {
    margin-top: 15px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper .status_left {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper .status_right {
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .data_status_wrapper .status_right.status_sent {
    color: #54bf00;
    font-size: 15px;
  }
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item .data_right .data_status .details {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .profileContainer .data .data_wrapper .data_wrapper_orders .data_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.profileContainer {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 20px auto 90px auto;
  overflow: hidden;
}
.profileContainer * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.profileContainer .menuSwiper {
  display: none;
}
.profileContainer .menuWrapper {
  width: 250px;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.profileContainer .menuWrapper .menuTitleWrapper {
  background-color: #34224f;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .menuWrapper .menuTitleWrapper .menuTitle {
  margin-left: 70px;
}
.profileContainer .menuWrapper .swipeArrow {
  display: none;
}
.profileContainer .menuWrapper .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.profileContainer .menuWrapper .categories .mainCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.profileContainer .menuWrapper .categories .mainCategory .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  color: #34224f;
}
.profileContainer .menuWrapper .categories .mainCategory .category .categoryText {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 70px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .innerCategoryText {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 70px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .icon,
.profileContainer .menuWrapper .categories .mainCategory .category .cartIcon,
.profileContainer .menuWrapper .categories .mainCategory .category .apiIcon {
  width: 25px;
  height: 25px;
  background-size: 100% auto;
  position: absolute;
  left: 30px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .profileIcon {
  background-image: url("/img/icons/profile/profile.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .paymentIcon {
  background-image: url("/img/icons/profile/payment.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .documentsIcon {
  background-image: url("/img/icons/profile/documents.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .offersIcon {
  background-image: url("/img/icons/profile/offers.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .apiIcon {
  background-image: url("/img/icons/profile/api.svg");
}
.profileContainer .menuWrapper .categories .mainCategory .category .cartIcon {
  background-image: url("/img/icons/profile/cart.svg");
}
.profileContainer .menuWrapper .categories .mainCategory .category .left {
  width: 10px;
  height: 30px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .right {
  width: 10px;
  height: 30px;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .left,
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .right {
  background-color: #e6007e;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .categoryText,
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .innerCategoryText {
  color: #e6007e;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .icon {
  background-position: 0 -100%;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .apiIcon {
  background-image: url("/img/icons/profile/apiChecked.svg");
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .cartIcon {
  background-image: url("/img/icons/profile/cartChecked.svg");
}
.profileContainer .menuWrapper .categories .mainCategory.big {
  margin-top: 17px;
}
.profileContainer .menuWrapper .categories .radioInput {
  display: none;
}
.profileContainer .menuWrapper .categories .logOutButton {
  width: 200px;
  height: 35px;
  margin: 30px 25px;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}
.profileContainer .profilePanel {
  width: 100%;
  margin-left: 30px;
}
.profileContainer .profilePanel .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 115px;
  border-radius: 10px;
  background: var(--gradient-gowny-kolor, linear-gradient(90deg, #34224f 0%, #ea167f 100%));
}
.profileContainer .profilePanel .welcome .welcomeText {
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 160%;
  margin-left: 40px;
}
.profileContainer .profilePanel .welcome .welcomeImage {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-blend-mode: screen;
  mix-blend-mode: screen;
}
.profileContainer .profilePanel .creditLine {
  width: 100%;
  color: #34224f;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  background: #f7f7f7;
}
.profileContainer .profilePanel .creditLine .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #54bf00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 65px;
}
.profileContainer .profilePanel .creditLine .top .wallet {
  width: 20px;
  height: 20px;
  margin: 0 10px 6px 40px;
}
.profileContainer .profilePanel .creditLine .top p {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.profileContainer .profilePanel .creditLine .top p span {
  font-weight: 800;
}
.profileContainer .profilePanel .creditLine .top p .value {
  color: white;
  margin-left: 10px;
}
.profileContainer .profilePanel .creditLine .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .profilePanel .creditLine .bottom .termCost,
.profileContainer .profilePanel .creditLine .bottom .allCost,
.profileContainer .profilePanel .creditLine .bottom .available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
.profileContainer .profilePanel .creditLine .bottom .termCost .line,
.profileContainer .profilePanel .creditLine .bottom .allCost .line,
.profileContainer .profilePanel .creditLine .bottom .available .line {
  height: 1px;
  width: 100px;
  margin: 7px 0;
  background-color: #8c8c8c;
}
.profileContainer .profilePanel .creditLine .bottom .termCost {
  margin-left: 40px;
}
.profileContainer .profilePanel .creditLine .bottom .termCost .value {
  color: #fd4c00;
  font-size: 17px;
  font-weight: 700;
}
.profileContainer .profilePanel .creditLine .bottom .allCost .value {
  color: #fd0000;
  font-size: 17px;
  font-weight: 700;
}
.profileContainer .profilePanel .creditLine .bottom .available .value {
  color: #54bf00;
  font-size: 17px;
  font-weight: 700;
}
.profileContainer .profilePanel .creditLine .bottom .zipper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  padding: 0 2px;
  margin: 10px 40px 0 40px;
  height: 20px;
  border-radius: 5px;
  border: 0.5px solid #8c8c8c;
  background: #fff;
}
.profileContainer .profilePanel .creditLine .bottom .red {
  background-color: #fd4c00;
  height: 16px;
  width: 3%;
  border-radius: 5px 0px 0px 5px;
}
.profileContainer .profilePanel .creditLine .bottom .green {
  background-color: #54bf00;
  width: 97%;
  height: 16px;
  border-radius: 0 5px 5px 0;
}
.profileContainer .profilePanel .profileBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #34224f;
}
.profileContainer .profilePanel .profileBottom .item {
  width: 420px;
  height: 281px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  margin-top: 23px;
  position: relative;
}
.profileContainer .profilePanel .profileBottom .item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #dfdfdf;
  background: #e3e3e3;
  padding-left: 40px;
}
.profileContainer .profilePanel .profileBottom .item .title .titleText {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 800;
}
.profileContainer .profilePanel .profileBottom .item .bar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, #d09266), color-stop(26.06%, #efbc87), color-stop(48.43%, #d09266), color-stop(72.37%, #f6d7b9), color-stop(96.31%, #d09266));
  background: linear-gradient(90deg, #d09266 0.03%, #efbc87 26.06%, #d09266 48.43%, #f6d7b9 72.37%, #d09266 96.31%);
}
.profileContainer .profilePanel .profileBottom .item .bar .barText {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  margin-left: 48px;
  color: white;
}
.profileContainer .profilePanel .profileBottom .item .trophyWrapper {
  position: absolute;
  left: 50%;
  top: 77px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .profilePanel .profileBottom .item .trophyWrapper svg {
  margin: 0 3.5px;
}
.profileContainer .profilePanel .profileBottom .item .barDisc {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#34224f), to(#ea167f));
  background: linear-gradient(90deg, #34224f 0%, #ea167f 100%);
}
.profileContainer .profilePanel .profileBottom .item .barDisc .barDiscText {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  margin-left: 40px;
  color: white;
}
.profileContainer .profilePanel .profileBottom .item .discWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  margin-top: 30px;
}
.profileContainer .profilePanel .profileBottom .item .discWrapper p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 7px;
}
.profileContainer .profilePanel .profileBottom .item .barProg {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f6fa;
}
.profileContainer .profilePanel .profileBottom .item .barProg .barProgText {
  font-size: 18px;
  font-weight: 400;
  margin-left: 40px;
  width: 250px;
}
.profileContainer .profilePanel .profileBottom .item .barProg .barProgText span {
  color: #e6007e;
  font-size: 18px;
  font-weight: 600;
}
.profileContainer .profilePanel .profileBottom .item .barProg .barPartnerText {
  font-size: 18px;
  font-weight: 600;
  margin-left: 45px;
}
.profileContainer .profilePanel .profileBottom .item .trophies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 25px;
}
.profileContainer .profilePanel .profileBottom .item .partnerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  margin-top: 5px;
}
.profileContainer .profilePanel .profileBottom .item .partnerWrapper p {
  font-size: 14px;
  font-weight: 400;
}
.profileContainer .profilePanel .profileBottom .item .partnerImage {
  position: absolute;
  right: 40px;
  top: 80px;
  border: 1px solid #e6007e;
  border-radius: 50%;
}
.profileContainer .profilePanel .profileBottom .item .contact {
  width: 255px;
  height: 35px;
  border: 1px solid #34224f;
  border-radius: 10px;
  background-color: white;
  margin: 15px 0 0 40px;
  font-size: 16px;
  font-weight: 400;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  max-height: 54px;
  border-top: 1px solid #eaeaea;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .adv .text {
  width: 195px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .adv .value {
  color: #54bf00;
  font-size: 18px;
  font-weight: 500;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .adv .value span {
  font-size: 14px;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .adv .guarantee {
  width: 195px;
  line-height: 100%;
  margin-right: 15px;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .adv .guarantee span {
  font-size: 8px;
  line-height: 100%;
  color: #8c8c8c;
}
.profileContainer .profilePanel .profileBottom .item .advWrapper .plus {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  border-bottom: 1px solid #eaeaea;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .text {
  width: 195px;
  font-size: 14px;
  font-weight: 400;
  margin-right: 15px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value1 {
  color: #e6007e;
  font-size: 18px;
  font-weight: 500;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value1 span {
  font-size: 14px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value2 {
  color: #fd0000;
  font-size: 18px;
  font-weight: 500;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value2 span {
  font-size: 14px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value3 {
  color: #54bf00;
  font-size: 18px;
  font-weight: 500;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value3 span {
  font-size: 14px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value4 {
  color: #fd4c00;
  font-size: 18px;
  font-weight: 500;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value4 span {
  font-size: 14px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .textPlus {
  font-size: 12px;
  margin: 13px 0;
  padding-right: 50px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .textPlus span {
  font-weight: 600;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .plus {
  border-top: 1px solid #eaeaea;
  border-bottom: none;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem:nth-child(1) {
  padding-top: 20px;
}
.profileContainer .profilePanel .profileBottom .item .limitWrapper .double {
  border: none;
}
.profileContainer .profilePanel .profileBottom .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.profileContainer .profilePanel .profileBottom .limit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1140px) {
  .profileContainer {
    width: 100%;
    margin: 20px auto 90px auto;
    padding: 0 20px;
  }
  .profileContainer .menuWrapper {
    width: 220px;
  }
  .profileContainer .menuWrapper .menuTitleWrapper {
    font-size: 18px;
  }
  .profileContainer .menuWrapper .menuTitleWrapper .menuTitle {
    margin-left: 50px;
  }
  .profileContainer .menuWrapper .categories .mainCategory .category {
    width: 220px;
  }
  .profileContainer .menuWrapper .categories .mainCategory .category .categoryText {
    font-size: 16px;
    left: 50px;
  }
  .profileContainer .menuWrapper .categories .mainCategory .category .innerCategoryText {
    font-size: 13px;
    left: 50px;
  }
  .profileContainer .menuWrapper .categories .mainCategory .category .icon,
  .profileContainer .menuWrapper .categories .mainCategory .category .cartIcon,
  .profileContainer .menuWrapper .categories .mainCategory .category .apiIcon {
    width: 22px;
    height: 22px;
    left: 20px;
  }
  .profileContainer .menuWrapper .categories .mainCategory .category .left {
    width: 10px;
    height: 30px;
  }
  .profileContainer .menuWrapper .categories .mainCategory .category .right {
    width: 10px;
    height: 30px;
  }
  .profileContainer .menuWrapper .categories .mainCategory.big {
    margin-top: 15px;
  }
  .profileContainer .menuWrapper .categories .logOutButton {
    width: 80%;
    height: 35px;
    margin: 30px auto;
    font-size: 15px;
  }
  .profileContainer .profilePanel {
    width: auto;
    margin-left: 30px;
  }
  .profileContainer .profilePanel .welcome {
    width: auto;
    height: 100px;
  }
  .profileContainer .profilePanel .welcome .welcomeText {
    font-size: 24px;
    margin-left: 30px;
  }
  .profileContainer .profilePanel .welcome .welcomeImage {
    display: none;
  }
  .profileContainer .profilePanel .creditLine {
    width: auto;
    margin-top: 25px;
  }
  .profileContainer .profilePanel .creditLine .top .wallet {
    width: 18px;
    height: 18px;
    margin: 0 5px 6px 30px;
  }
  .profileContainer .profilePanel .creditLine .top p {
    font-size: 16px;
  }
  .profileContainer .profilePanel .creditLine .top p .value {
    color: white;
    margin-left: 5px;
  }
  .profileContainer .profilePanel .creditLine .bottom {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .profileContainer .profilePanel .creditLine .bottom .termCost,
  .profileContainer .profilePanel .creditLine .bottom .allCost,
  .profileContainer .profilePanel .creditLine .bottom .available {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    max-width: 21%;
    font-size: 12px;
  }
  .profileContainer .profilePanel .creditLine .bottom .termCost .line,
  .profileContainer .profilePanel .creditLine .bottom .allCost .line,
  .profileContainer .profilePanel .creditLine .bottom .available .line {
    height: 1px;
    width: 80px;
    margin: 7px 0;
  }
  .profileContainer .profilePanel .creditLine .bottom .termCost {
    margin-left: 30px;
  }
  .profileContainer .profilePanel .creditLine .bottom .termCost .value {
    font-size: 15px;
  }
  .profileContainer .profilePanel .creditLine .bottom .allCost .value {
    font-size: 15px;
  }
  .profileContainer .profilePanel .creditLine .bottom .available .value {
    font-size: 15px;
  }
  .profileContainer .profilePanel .creditLine .bottom .zipper {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 50%;
    margin: 10px 20px 0 20px;
  }
  .profileContainer .profilePanel .profileBottom .item {
    width: 100%;
    height: 281px;
    margin-top: 23px;
  }
  .profileContainer .profilePanel .profileBottom .item .title {
    height: 65px;
    padding-left: 30px;
  }
  .profileContainer .profilePanel .profileBottom .item .title .titleText {
    margin-left: 10px;
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .bar .barText {
    font-size: 20px;
  }
  .profileContainer .profilePanel .profileBottom .item .barDisc .barDiscText {
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .discWrapper {
    margin-left: 30px;
  }
  .profileContainer .profilePanel .profileBottom .item .discWrapper p {
    font-size: 13px;
  }
  .profileContainer .profilePanel .profileBottom .item .barProg .barProgText {
    font-size: 16px;
    margin-left: 30px;
    max-width: 250px;
  }
  .profileContainer .profilePanel .profileBottom .item .barProg .barProgText span {
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .barProg .barPartnerText {
    font-size: 16px;
    margin-left: 30px;
  }
  .profileContainer .profilePanel .profileBottom .item .trophies {
    gap: 10px;
  }
  .profileContainer .profilePanel .profileBottom .item .partnerWrapper {
    margin-left: 30px;
  }
  .profileContainer .profilePanel .profileBottom .item .partnerWrapper p {
    font-size: 13px;
  }
  .profileContainer .profilePanel .profileBottom .item .partnerImage {
    right: 10%;
    top: 30%;
  }
  .profileContainer .profilePanel .profileBottom .item .contact {
    width: 255px;
    height: 35px;
    margin: 15px 0 0 30px;
    font-size: 14px;
  }
  .profileContainer .profilePanel .profileBottom .item .advWrapper .adv {
    padding-left: 30px;
    max-height: 54px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .profileContainer .profilePanel .profileBottom .item .advWrapper .adv .text {
    max-width: 195px;
    font-size: 13px;
    margin-right: 15px;
  }
  .profileContainer .profilePanel .profileBottom .item .advWrapper .adv .value {
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .advWrapper .adv .value span {
    font-size: 13px;
  }
  .profileContainer .profilePanel .profileBottom .item .advWrapper .adv .guarantee {
    max-width: 195px;
    margin-right: 15px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem {
    padding-left: 30px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .text {
    max-width: 195px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value1 {
    font-size: 16x;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value1 span {
    font-size: 13px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value2 {
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value2 span {
    font-size: 13px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value3 {
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value3 span {
    font-size: 13px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value4 {
    font-size: 16px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .value4 span {
    font-size: 14px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem .textPlus {
    font-size: 12px;
    margin: 13px 0;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .plus {
    border-top: 1px solid #eaeaea;
    border-bottom: none;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .limitItem:nth-child(1) {
    padding-top: 20px;
  }
  .profileContainer .profilePanel .profileBottom .item .limitWrapper .double {
    border: none;
  }
}
@media (max-width: 768px) {
  .profileContainer {
    margin: 100px auto 0 auto;
    position: relative;
    padding: 0 10px;
  }
  .profileContainer .menuWrapper {
    position: absolute;
    left: -220px;
    top: 0%;
    z-index: 5;
  }
  .profileContainer .menuWrapper .menuTitleWrapper {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  .profileContainer .menuWrapper .menuTitleWrapper .menuTitle {
    margin: 0 10px;
  }
  .profileContainer .menuWrapper .swipeArrow {
    display: block;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .profileContainer .menuWrapper.active {
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .profileContainer .menuWrapper.active .menuTitleWrapper {
    position: static;
    left: 100%;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .profileContainer .menuWrapper.active .menuTitleWrapper .menuTitle {
    margin: 0 10px;
  }
  .profileContainer .menuWrapper.active .swipeArrow {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .profileContainer .profilePanel {
    margin-left: 0px;
  }
  .profileContainer .profilePanel .welcome {
    width: auto;
    height: 65px;
    margin-left: 120px;
  }
  .profileContainer .profilePanel .welcome .welcomeText {
    font-size: 24px;
    margin-left: 30px;
  }
  .profileContainer .profilePanel .welcome .welcomeImage {
    display: none;
  }
  .profileContainer .profilePanel .creditLine .bottom .zipper {
    display: none;
  }
  .profileContainer .profilePanel .creditLine .bottom .termCost,
  .profileContainer .profilePanel .creditLine .bottom .allCost,
  .profileContainer .profilePanel .creditLine .bottom .available {
    max-width: 80px;
    font-size: 12px;
  }
  .profileContainer .profilePanel .creditLine .bottom .termCost {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .profileContainer .profilePanel .welcome .welcomeText {
    font-size: 20px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */