$violet: #34224f;
$pink: #e6007e;

.profileContainer {
	font-family: "Roboto";
	display: flex;
	max-width: 1140px;
	margin: 20px auto 0 auto;

	p,
	h2,
	h1,
	h3 {
		margin: 0;
		padding: 0;
	}

	.menuWrapper {
		width: 250px;
		background-color: #f7f7f7;
		border: 1px solid #dfdfdf;
		border-radius: 10px;

		.menuTitleWrapper {
			background-color: $violet;
			color: white;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			height: 65px;
			display: flex;
			align-items: center;

			.menuTitle {
				margin-left: 70px;
			}
		}

		.categories {
			display: flex;
			flex-direction: column;
			width: 100%;
			.mainCategory {
				display: flex;
				cursor: pointer;

				.category {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					position: relative;
					color: $violet;
					.categoryText {
						font-size: 18px;
						font-weight: 700;
						position: absolute;
						left: 70px;
					}
					.innerCategoryText {
						font-size: 14px;
						font-weight: 400;
						position: absolute;
						left: 70px;
					}
					.icon,
					.cartIcon,
					.apiIcon {
						width: 25px;
						height: 25px;
						background-size: 100% auto;
						position: absolute;
						left: 30px;
					}
					.profileIcon {
						background-image: url("/img/icons/profile/profile.png");
					}
					.paymentIcon {
						background-image: url("/img/icons/profile/payment.png");
					}
					.documentsIcon {
						background-image: url("/img/icons/profile/documents.png");
					}
					.offersIcon {
						background-image: url("/img/icons/profile/offers.png");
					}
					.apiIcon {
						background-image: url("/img/icons/profile/api.svg");
					}
					.cartIcon {
						background-image: url("/img/icons/profile/cart.svg");
					}
					.left {
						width: 10px;
						height: 30px;
					}
					.right {
						width: 10px;
						height: 30px;
					}
				}
				.radioInput:checked + .category {
					.left,
					.right {
						background-color: $pink;
					}
					.categoryText,
					.innerCategoryText {
						color: $pink;
					}
					.icon {
						background-position: 0 -100%;
					}
					.apiIcon {
						background-image: url("/img/icons/profile/apiChecked.svg");
					}
					.cartIcon {
						background-image: url("/img/icons/profile/cartChecked.svg");
					}
				}
			}
			.mainCategory.big {
				margin-top: 17px;
			}
			.innerCategory {
			}
			.radioInput {
				display: none;
			}
			.logOutButton {
				width: 200px;
				height: 35px;
				margin: 30px 25px;
				border-radius: 10px;
				background-color: white;
				font-size: 16px;
			}
		}
	}

	.profilePanel {
		width: 100%;
		margin-left: 30px;
		.welcome {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			border-radius: 10px;
			background: var(
				--gradient-gowny-kolor,
				linear-gradient(90deg, #34224f 0%, #ea167f 100%)
			);
			.welcomeText {
				color: white;
				font-size: 36px;
				font-weight: 500;
				line-height: 160%;
				margin-left: 40px;
			}
			.welcomeImage {
				border-bottom-right-radius: 10px;
				border-top-right-radius: 10px;
			}
		}
	}
}

@media (max-width: 768px) {
	.profileContainer {
		margin: 100px auto 0 auto;
	}
}
