.profileContainer {
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  margin: 20px auto 0 auto;
}
.profileContainer p,
.profileContainer h2,
.profileContainer h1,
.profileContainer h3 {
  margin: 0;
  padding: 0;
}
.profileContainer .menuWrapper {
  width: 250px;
  background-color: #f7f7f7;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}
.profileContainer .menuWrapper .menuTitleWrapper {
  background-color: #34224f;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .menuWrapper .menuTitleWrapper .menuTitle {
  margin-left: 70px;
}
.profileContainer .menuWrapper .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.profileContainer .menuWrapper .categories .mainCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.profileContainer .menuWrapper .categories .mainCategory .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  color: #34224f;
}
.profileContainer .menuWrapper .categories .mainCategory .category .categoryText {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 70px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .innerCategoryText {
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 70px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .icon,
.profileContainer .menuWrapper .categories .mainCategory .category .cartIcon,
.profileContainer .menuWrapper .categories .mainCategory .category .apiIcon {
  width: 25px;
  height: 25px;
  background-size: 100% auto;
  position: absolute;
  left: 30px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .profileIcon {
  background-image: url("/img/icons/profile/profile.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .paymentIcon {
  background-image: url("/img/icons/profile/payment.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .documentsIcon {
  background-image: url("/img/icons/profile/documents.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .offersIcon {
  background-image: url("/img/icons/profile/offers.png");
}
.profileContainer .menuWrapper .categories .mainCategory .category .apiIcon {
  background-image: url("/img/icons/profile/api.svg");
}
.profileContainer .menuWrapper .categories .mainCategory .category .cartIcon {
  background-image: url("/img/icons/profile/cart.svg");
}
.profileContainer .menuWrapper .categories .mainCategory .category .left {
  width: 10px;
  height: 30px;
}
.profileContainer .menuWrapper .categories .mainCategory .category .right {
  width: 10px;
  height: 30px;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .left,
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .right {
  background-color: #e6007e;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .categoryText,
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .innerCategoryText {
  color: #e6007e;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .icon {
  background-position: 0 -100%;
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .apiIcon {
  background-image: url("/img/icons/profile/apiChecked.svg");
}
.profileContainer .menuWrapper .categories .mainCategory .radioInput:checked + .category .cartIcon {
  background-image: url("/img/icons/profile/cartChecked.svg");
}
.profileContainer .menuWrapper .categories .mainCategory.big {
  margin-top: 17px;
}
.profileContainer .menuWrapper .categories .radioInput {
  display: none;
}
.profileContainer .menuWrapper .categories .logOutButton {
  width: 200px;
  height: 35px;
  margin: 30px 25px;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}
.profileContainer .profilePanel {
  width: 100%;
  margin-left: 30px;
}
.profileContainer .profilePanel .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  background: var(--gradient-gowny-kolor, linear-gradient(90deg, #34224f 0%, #ea167f 100%));
}
.profileContainer .profilePanel .welcome .welcomeText {
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 160%;
  margin-left: 40px;
}
.profileContainer .profilePanel .welcome .welcomeImage {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.profileContainer .profilePanel .creditLine {
  width: 100%;
  color: #34224f;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  background: #f7f7f7;
}
.profileContainer .profilePanel .creditLine .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #54bf00;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 65px;
}
.profileContainer .profilePanel .creditLine .top .wallet {
  width: 20px;
  height: 20px;
  margin: 0 10px 6px 40px;
}
.profileContainer .profilePanel .creditLine .top p {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.profileContainer .profilePanel .creditLine .top p span {
  font-weight: 800;
}
.profileContainer .profilePanel .creditLine .top p .value {
  color: white;
  margin-left: 10px;
}
.profileContainer .profilePanel .creditLine .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profileContainer .profilePanel .creditLine .bottom .termCost,
.profileContainer .profilePanel .creditLine .bottom .allCost,
.profileContainer .profilePanel .creditLine .bottom .available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}
.profileContainer .profilePanel .creditLine .bottom .termCost .line,
.profileContainer .profilePanel .creditLine .bottom .allCost .line,
.profileContainer .profilePanel .creditLine .bottom .available .line {
  height: 1px;
  width: 100px;
  background-color: black;
}
.profileContainer .profilePanel .creditLine .bottom .termCost {
  margin-left: 40px;
}
.profileContainer .profilePanel .creditLine .bottom .termCost .value {
  color: #fd4c00;
  font-size: 17px;
  font-weight: 700;
}
.profileContainer .profilePanel .creditLine .bottom .allCost .value {
  color: #fd0000;
  font-size: 17px;
  font-weight: 700;
}
.profileContainer .profilePanel .creditLine .bottom .available .value {
  color: #54bf00;
  font-size: 17px;
  font-weight: 700;
}
.profileContainer .profilePanel .creditLine .bottom .zipper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  padding: 0 2px;
  margin: 10px 40px 0 40px;
  height: 20px;
  border-radius: 5px;
  border: 0.5px solid #8c8c8c;
  background: #fff;
}
.profileContainer .profilePanel .creditLine .bottom .red {
  background-color: #fd4c00;
  height: 16px;
  width: 3%;
  border-radius: 5px 0px 0px 5px;
}
.profileContainer .profilePanel .creditLine .bottom .green {
  background-color: #54bf00;
  width: 97%;
  height: 16px;
  border-radius: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .profileContainer {
    margin: 100px auto 0 auto;
  }
}/*# sourceMappingURL=main.css.map */